body {
  margin: 0;
  background-image: url("./images/Plain-Dark-Gray-Background.jpg");
}

.title {
  font-size: 3rem;
}

input {
  font-size: 1rem;
  border: 2px solid black;
  padding: .5rem;
  margin: 6rem 0 3rem 0;
  width: 30vw;
  transition: width .35s ease-in-out;
}

input:focus {
  outline: none;
  width: 50vw;
  border: 2px solid black;
  box-shadow: 0px 0px 5px turquoise;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.searchArea {
  width: 80%;
  border-bottom: 1px solid black;
}

.submit {
  padding: .5rem;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  padding-top: 1rem;
}

.returnItem {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
  justify-content: center;
}

.songTitle {
  padding-top: 1rem;
  padding-bottom: .5rem;
  align-self: center;
  font-size: 1.3rem;
}

.bandName {
  align-self: center;
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
  padding-bottom: 1rem;
}

.albumArt {
  height: 10rem;
  transition-duration: .3s;
}

.albumArt:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~Audio Player~~~~~~~~~~~~~~~~~~~~~~*/

#audioplayer {
  width: 480px;
  height: 60px;
  margin: 50px auto auto auto;
  border: 5px solid;
}

#pButton {
  height: 60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  outline: none;
}

.play {
  background: url('http://www.alexkatz.me/codepen/img/play.png');
}
.pause {
  background: url('http://www.alexkatz.me/codepen/img/pause.png');
}

#timeline {
  width: 400px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, .8);
}
#playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(120, 120, 120, 1);
}
