body {
  margin: 0;
}

input {
  font-size: 1rem;
  border: 2px solid black;
  padding: .5rem;
  margin: 6rem 0 3rem 0;
  width: 20vw;
  transition: width .35s ease-in-out;
}

input:focus {
  outline: none;
  width: 35vw;
  border: 2px solid black;
  box-shadow: 2px 2px 10px #719ece;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.searchArea {
  width: 80%;
  border-bottom: 1px solid black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}

.returnItem {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
  justify-content: center;
}

.songTitle {
  align-self: center;
  font-size: 1rem;
}

.bandName {
  align-self: center;
  font-size: 1.5rem;
}

.albumArt {
  padding: 1rem 2rem .3rem 2rem;
}
