body {
  margin: 0;
  background-image: url("./images/Plain-Dark-Gray-Background.jpg");
}

.title {
  font-size: 3rem;
}

input {
  font-size: 1rem;
  border: 2px solid black;
  padding: .5rem;
  margin: 6rem 0 3rem 0;
  width: 20vw;
  transition: width .35s ease-in-out;
}

input:focus {
  outline: none;
  width: 35vw;
  border: 2px solid black;
  box-shadow: 2px 2px 10px darkslategray;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.searchArea {
  width: 80%;
  border-bottom: 1px solid black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
}

.returnItem {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
  justify-content: center;
}

.songTitle {
  align-self: center;
  font-size: 1rem;
}

.bandName {
  align-self: center;
  font-size: 1.5rem;
}

.albumArt {
  padding: 1rem 2rem .3rem 2rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~Audio Player~~~~~~~~~~~~~~~~~~~~~~*/

#audioplayer {
  width: 480px;
  height: 60px;
  margin: 50px auto auto auto;
  border: 5px solid;
}

#pButton {
  height: 60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  outline: none;
}

.play {
  background: url('http://www.alexkatz.me/codepen/img/play.png');
}
.pause {
  background: url('http://www.alexkatz.me/codepen/img/pause.png');
}

#timeline {
  width: 400px;
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, .8);
}
#playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(120, 120, 120, 1);
}
